<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Provedores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="provedores !== undefined">
    <ion-item-sliding *ngFor="let provedor of provedores">
        <ion-item>
          <ion-label>{{ provedor.nome }}</ion-label>
        </ion-item>
          <ion-item-options>
            <ion-item-option (click)="detalhesProvedor(provedor)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-button (click)="irParaProdutos()" expand="block">Produtos</ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="irParaCadastro()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
